/* Barra de navegacion*/
.navbar{
    background-color: rgba(16, 162, 145, 0.775);
    color: white;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.nav-link{
    font-size: medium;
    color: white;
}

.caja1{
    /* color: green; */
    /* background-color: red; */
    min-height: 100px;
    text-align: center;
}
.caja1 h1{
    font-family: 'Lobster', cursive;
}
.caja1 h2{
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
}

/* Seccion Principal*/
.fila{
    height: 400px;
}

.columna2{
    background-color: rgba(27, 193, 174, 0.197);
}


/* Carrusel */
.carousel-item{
    height: 400px;
    background-position: center;
    background-size: cover;
}

/* Tarjeta */
.tarjeta1{
    margin-top: 2.5rem;
    height: 300px;
    text-justify: newspaper;
    
}
.carrusel2{
    margin: 50px;
}


/* Pie de pagina */
footer{
    min-height: 180px;
}
.pie{
    background-color: rgba(186, 197, 196, 0.644);

}
.iconos-redes a{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2 ease-in;
}

/*Estilos de login*/
.container.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 50px;
}
.container i{
    font-size: 150px;
    display: flex;
    align-items: center;
}

/*Estilos de la pagina de habitaciones*/
.seccion-habitacion{
    font-style: italic;
    padding: 40px;
}
.seccion-habitacion h2{
    font-family: 'Lobster', cursive;
}

/* Estilos de la pagina del cliente */
.container-fluid.seccion-cliente{
    padding: 50px;
    background-image: url(../img/cliente-principal.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.container-fluid.seccion-cliente h1{
    color: white;
    font-size: 100px;
    font-family: 'Lobster', cursive;
}

.card.cliente{
    width: 20rem;
}
.card.cliente i{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-size: 50px;
}

/* Estilos de la pagina para reservar */
.container-fluid.reservar{
    padding: 50px;
    background-image: url(../img/reservacion.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.container-mg.reservar{
    padding: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 50px;
    border-radius: 20px;
    background-color:rgba(255, 255, 255, 0.644);
}
.container-mg.reservar h2{
    margin-bottom: 10px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}
.container-mg.reservar select{
    margin-bottom: 10px;
}

/*Estilo de Mi Cuenta*/
.col-6.img{
    padding: 50px;
    background-image: url(../img/familia.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.col-6.info{
    padding: 15px;
}